@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html {
  font-size: 24px;
}

:root {
  --color-primary: rgb(43, 93, 124);
  --color-secondary: rgb(51, 51, 51);
  --font-family-base: 'Playfair Display', serif;
  --font-size-base: 1rem;
  --font-size-small: 1rem; /* 16px */
  --font-size-medium: 1.5rem; /* 24px */
  --font-size-large: 2rem; /* 32px */
  --title-font-size: ;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}

body {
  margin: 0;
  color: var(--color-primary);
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  margin: 0px 0 25px;
  font-size: var(--font-size-medium);
}

p {
  color: var(--color-secondary);
}

/* SECTION HERO */
section {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 600px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero h2 {
  margin: 0;
}

.hero-image {
  position: relative;
  width: 100%;
  background: url('img/nature.png') no-repeat center center;
  background-size: cover;
  aspect-ratio: 1 / 1;
}

.hero-content {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 10px;
  white-space: nowrap;
}

.hero-content h1 {
  margin: 0;
  font-weight: normal;
}

.date {
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6);
}

.countdown {
  margin: 0;
  padding: 25px 40px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.countdown-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 80px;
}

.countdown-number {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

/* SECTION INVITATION */

.invitation {
  text-align: left;
}

.invitation em {
  font-weight: bold;
  text-align: center;
}

.invitation__signature {
  font-style: italic;
  margin-top: var(--spacing-lg);
}

/* SECTION INFO */
.info-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.info-item-header {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.info-item p {
  margin: 0;
}

.info-item--appreciation {
  margin-top: 20px;
}

/* SECTION SCHEDULE */
.schedule__list {
  list-style: none;
  padding: 0;
}

.schedule__item {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;
}

.schedule__event {
  color: var(--color-secondary);
  flex-grow: 1;
  text-align: left;
}

@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }

  section {
    max-width: 500px;
    padding: 30px 20px;
  }

  .hero {
    gap: 20px;
  }

  .hero-content {
    padding: 15px;
  }

  .countdown {
    padding: 20px 35px;
    gap: 30px;
  }

  .countdown-item {
    gap: 6px;
    min-width: 60px;
  }

  .invitation {
    padding: 20 30px;
  }

  .schedule__item {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }

  section {
    max-width: 100%;
  }

  .hero {
    gap: 15px;
  }

  .hero-content {
    padding: 10px;
  }

  .countdown {
    padding: 15px 30px;
    gap: 25px;
  }

  .countdown-item {
    gap: 4px;
    min-width: 50px;
  }
}
